.ticket {
    background-color: white;
    width: 70%;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
}

.userstory {
    width: 90%;
    margin-bottom: 10px;
}

.totalGrade {
    margin-right: 10px;
    font-size: 16pt;
    display: flex; 
    justify-content: flex-end;
    margin-top: -30px;
}

.standards {
    width: 100%;
}

.removeFromCart {
    float: right;
    cursor: pointer;
    background-color: #E2477A;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;    
    color: white;
    font-size: 15pt;
    padding-top: 4px;
}

.standard {
    padding-left: 4px;
}

.right {
    margin-left: 7px;
}