.mat-expansion-panel-content {
    background: rgb(174, 223, 209);
    margin-left: 22vh;
    margin-right: 22vh;
}

.mat-table {
    height: 80vh;
    margin-bottom: -120px;
}

.mat-header-row {
    top: 0px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
}

th.rotate {
    /* Something you can count on */
    height: 160px;
    white-space: nowrap;
    vertical-align: middle;
}

th.rotate>div {
    transform:
        /* Magic Numbers */
        translate(25px, 51px)
        /* 45 is really 360 - 45 */
        rotate(315deg);
    width: 30px;
    padding-bottom: 20px;
}

th.rotate>div>span {
    border-bottom: 1px solid #ccc;
    margin-left: -20px;
}

td[ng-reflect-ng-class='E'] {
    /* background-color: red; */
    background-color: rgba(255, 0, 0, 0.5);
    text-align:center
}

td[ng-reflect-ng-class='D'] {
    background-color: rgba(255, 165, 0, 0.5);
    text-align:center
}

td[ng-reflect-ng-class='C'] {
    background-color: rgba(184, 143, 11, 0.5);
    text-align:center
}

td[ng-reflect-ng-class='B'] {
    background-color: rgba(144, 238, 144, 0.5);
    text-align:center
}

td[ng-reflect-ng-class='A'] {
    background-color: rgba(0, 128, 0, 0.5);
    text-align:center
}

td.mat-cell:last-of-type {
    padding-right: 0px !important;
}

td.mat-cell:first-of-type {
    white-space: nowrap;
    min-width: 300px;
}

.initialHeader {
    vertical-align: bottom;
}

tr.mat-row {
    height: 30px;
    vertical-align: middle;
}

input.invisible {
    visibility: hidden;
}

input[type='text'] {
    width: 80px;
}

i.invisible {
    visibility: hidden;
}

i.visible {
    visibility: visible;
}

.cdsm-selection {
    position: absolute;
    z-index: 100;
    left: 20px;
    top: 28px;
    background-color: red;
    border-radius: 8px;
    padding: 5px;
}

.weight {
    width: 20px !important;
    vertical-align: bottom;
    border-width: 0px;
    background-color: lightgray;
    margin-right: 2px;
}

div.addButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background-color:#2e466e;
	border-radius:7px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding-left:3px;
    padding-right:3px;
	text-decoration:none;
}
div.addButton:hover {
	background-color:#415989;
}
div.addButton:active {
	position:relative;
	top:1px;
}

div.mark {
    left: 13%;
    position: relative;
}

table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}
