<mat-tab-group>
    <mat-tab label="Use cases">
        <div class="cdsm-selection">
            <b>CDS-M's choice:</b><br>
            &nbsp;<label for="privacyOnly">Best privacy choice</label>
            <input type="checkbox" id="privacyOnly" [checked]="this.privacyOnly" (change)="onChangePrivacyOnly($event)">
            <br>
            &nbsp;<label for="allUseCases">Best coverage</label>
            <input type="checkbox" id="allUseCases" [checked]="this.useAllUseCases" (change)="onChangeAllUsecases($event)">
        </div>
        <mat-table mat-table [dataSource]="datasource">
            <ng-container matColumnDef="name">
                <th mat-header-row *matHeaderCellDef class="initialHeader firstColumn"> Name </th>
                <td mat-cell *matCellDef="let element" [title]="getTitle(element.name)">
                    <a href="{{element.externalReference}}">{{element.name}}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="selected">
                <th mat-header-row *matHeaderCellDef class="initialHeader">check</th>
                <td mat-cell *matCellDef="let element">
                    <input type="checkbox" [(checked)]="element['selected']" (change)="onSelect($event,element)">
                </td>
            </ng-container>
            <ng-container matColumnDef="conflict">
                <th mat-header-row *matHeaderCellDef class="initialHeader">&nbsp;</th>
                <td mat-cell *matCellDef="let element" [title]="getConflictDescription(element)">
                    <i class="fa fa-exclamation-triangle" [class]="element['conflict']?'visible':'invisible'"></i>
                </td>
            </ng-container>
            <ng-container matColumnDef="sortValue">
                <th mat-header-row *matHeaderCellDef class="initialHeader">value</th>
                <td mat-cell *matCellDef="let element">{{element.sortValue}} </td>
            </ng-container>
            <ng-container matColumnDef="privacy">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div [title]="getTitle('privacy')"><span>Personal data protection</span></div>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.privacy">{{element.privacy}} </td>
            </ng-container>
            <ng-container matColumnDef="implE">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div [title]="getTitle('implementation')"><span>Costs</span></div>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.implementationEffort">
                    {{element.implementationEffort}} </td>
            </ng-container>
            <ng-container matColumnDef="reuse">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div [title]="getTitle('reuse')"><span>Reusability</span></div>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.reusability">{{element.reusability}}</td>
            </ng-container>
            <ng-container matColumnDef="interop">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div [title]="getTitle('interop')"><span>Interopability</span></div>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.interoperability">{{element.interoperability}}
                </td>
            </ng-container>
            <ng-container matColumnDef="domain">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div [title]="getTitle('domain')"><span>Domain specific</span></div>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.domain">{{element.domain}}
                </td>
            </ng-container>
            <ng-container matColumnDef="space">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div><span>  </span></div>
                </th>
                <td mat-cell *matCellDef="let element">&nbsp;</td>
            </ng-container>
            <ng-container [matColumnDef]="column" *ngFor="let column of useCases">
                <th mat-header-cell *matHeaderCellDef class="rotate">
                    <div [title]="getTitle(column)"><span (click)="filterColumn($event)">{{column}}</span></div>
                </th>
                <td mat-cell *matCellDef="let element" [title]="getExplanation(column, element)" >{{element[column]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </mat-tab>
    <mat-tab label="Authentication">
        <mat-table mat-table [dataSource]="datasourceAuthentication">
            <ng-container matColumnDef="name">
                <th mat-header-row *matHeaderCellDef class="initialHeader firstColumn"> Name </th>
                <td mat-cell *matCellDef="let element">{{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="selected">
                <th mat-header-row *matHeaderCellDef class="initialHeader">check</th>
                <td mat-cell *matCellDef="let element"><input type="checkbox" [value]="element['selected']"></td>
            </ng-container>
            
            <ng-container matColumnDef="space">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div><span>  </span></div>
                </th>
                <td mat-cell *matCellDef="let element">&nbsp;&nbsp;</td>
            </ng-container>

            <ng-container [matColumnDef]="column" *ngFor="let column of authentications">
                <th mat-header-cell *matHeaderCellDef class="rotate">
                    <div><span>{{column}}</span></div>
                </th>
                <td mat-cell *matCellDef="let element"> <input type='checkbox' [id]="column" (change)="onSelectAuthentication($event,element)" [class]="element[column]==null?'invisible':'visible'"> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAuthentication"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAuthentication;"></tr>
        </mat-table>
    </mat-tab>
    <mat-tab label="Configuration">
        <mat-table mat-table [dataSource]="datasourceAttributes">
            <ng-container matColumnDef="name">
                <th mat-header-row *matHeaderCellDef class="initialHeader firstColumn"> Name </th>
                <td mat-cell *matCellDef="let element">{{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="selected">
                <th mat-header-row *matHeaderCellDef class="initialHeader">check</th>
                <td mat-cell *matCellDef="let element"><input type="checkbox" [value]="element['selected']"></td>
            </ng-container>
            
            <ng-container matColumnDef="space">
                <th mat-header-row *matHeaderCellDef class="rotate">
                    <div><span>  </span></div>
                </th>
                <td mat-cell *matCellDef="let element">&nbsp;&nbsp;</td>
            </ng-container>

            <ng-container [matColumnDef]="column" *ngFor="let column of attributes">
                <th mat-header-cell *matHeaderCellDef class="rotate">
                    <div><span>{{column}}</span></div>
                </th>
                <td mat-cell *matCellDef="let element"> <input type='text' [id]="column" [value]="element[column]" (change)="onAttributeChanged($event,column,element)" [class]="getVisibilityClass(element[column], column, element)"> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAttributes"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAttributes;"></tr>
        </mat-table>
    </mat-tab>
</mat-tab-group>