<button
  class="inline-flex items-center justify-center p-2 bg-white text-blue-500 hover:text-blue-400 focus:text-blue-400 focus:ring-blue-200 active:text-blue-900 disabled:text-gray-600 border-4 border-blue-500 hover:border-blue-400 active:border-blue-900 disabled:border-gray-200 leading-none font-medium focus:ring-4 focus:ring-offset-4 cursor-pointer focus:outline-none disabled:cursor-not-allowed"
>
  <svg
    width="14"
    height="15"
    viewBox="0 0 14 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14 6.5L8 6.5L8 0.500001L6 0.500001L6 6.5L1.39876e-06 6.5L1.04907e-06 8.5L6 8.5L6 14.5L8 14.5L8 8.5L14 8.5L14 6.5Z"
      fill="currentColor"
    ></path>
  </svg>
</button>