<div class="max-w-6xl mx-auto px-4 w-full pt-8 md:pt-20 pb-8">
  <p class="px-2 pb-2.5 text-center">
    Partners
  </p>
  <div class="flex justify-center">
    <div class="w-full flex flex-auto gap-1">
      <div class="min-w-[176px] aspect-video flex-1 flex-shrink-0 bg-contain bg-no-repeat bg-center"
        style='background-image: url("assets/Adam.png");'></div>
      <div class="min-w-[176px] aspect-video flex-1 flex-shrink-0 bg-contain bg-no-repeat bg-center"
        style='background-image: url("assets/IenW.png");'></div>
      <div class="min-w-[176px] aspect-video flex-1 flex-shrink-0 bg-contain bg-no-repeat bg-center"
        style='background-image: url("assets/groningen.png");'></div>
      <div class="min-w-[176px] aspect-video flex-1 flex-shrink-0 bg-contain bg-no-repeat bg-center"
        style='background-image: url("assets/Utrecht.png");'></div>
      <div class="min-w-[176px] aspect-video flex-1 flex-shrink-0 bg-contain bg-no-repeat bg-center"
        style='background-image: url("assets/rdam.png");'></div>
      <div class="min-w-[176px] aspect-video flex-1 flex-shrink-0 bg-contain bg-no-repeat bg-center"
        style='background-image: url("assets/eindhove.png");'></div>
    </div>
  </div>
</div>