<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12 max-w-6xl mx-auto mt-8 md:mt-40 mb-6 md:mb-20">
  <div class="w-full h-72 bg-cover bg-no-repeat bg-center"
    style='background-image: url("https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2340&amp;q=80");'>
  </div>

  <div class="">
    <div class="px-4 md:px-0 flex flex-col md:items-start">
      <div class="heading-2 uppercase text-blue-600">
        Set up a secure and effective data exchange.
      </div>
      <div class="mt-6 mb-10">
        City Data Specification for Mobility (CDS-M) provides public bodies with a greater understanding of
        (shared) mobility in
        public spaces.
        It improves therefore their options for managing and developing policy in relation to mobility.
      </div>
      <a
        class="inline-flex items-center justify-center px-5 py-3 bg-transparent text-blue-600 hover:text-blue-400 focus:text-blue-400 focus:ring-blue-400 active:text-blue-600 disabled:text-gray-500 border-4 border-blue-600 hover:border-blue-400 active:border-blue-600 disabled:border-gray-300 leading-none font-medium focus:ring-4 focus:ring-offset-4 cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        href="https://manual.cds-m.com/"
        >
        Learn more about CDS-M
        <span class="ml-2.5">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_925_21566" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"
              style="mask-type: alpha;">
              <rect width="24" height="24" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)" fill="currentColor">
              </rect>
            </mask>
            <g mask="url(#mask0_925_21566)">
              <path
                d="M12.683 7L11.6247 8.1767L14.6266 10.7221L5 10.7221L5 12.2828L14.6215 12.2828L11.6196 14.8282L12.6881 16L18 11.5L12.683 7Z"
                fill="currentColor"></path>
            </g>
          </svg>
        </span>
      </a>
    </div>
  </div>
</div>