<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12">
    <div class="w-full h-72 bg-cover bg-no-repeat bg-center"
        style='background-image: url("https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2340&amp;q=80");'>
    </div>

    <div class="pb-20">
        <div>
            <div class="text-4xl pb-4">
                Building a foundation for mobility to contribute to an accessible, liveable and clean public space.
            </div>
            <div class="pb-4">
                A single CDS-M provides public bodies with a greater understanding of mobility and shared mobility in
                public
                spaces.
                It improves therefore their options for managing and developing policy in relation to mobility.
            </div>
            <app-outline-primary title="Learn more about CDS-M"></app-outline-primary>
        </div>
    </div>
</div>