.toolbar {
    width: 100%;
    height: 80px;
    background-color: white;
    vertical-align: bottom;
}

.title {
    font-size: 30pt;
    font-weight: bold;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}

.usecasestore {
    font-size: 20pt;
    float: left;
    color: lightgray;
    margin-left: 15px;
}

.store {
    float: right;
    padding-top: 10px;
    margin-right: 15px;
}

.cart {
    cursor: pointer;
    float: right;
    padding-top: 10px;
    margin-right: 15px;

}