<head><base href="/">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="flex flex-col w-screen min-h-screen overflow-hidden">
    <div class=""><app-navbar class="example-container h-20"></app-navbar></div>
    <div class="flex-1 w-screen"><router-outlet class="example-container"></router-outlet></div>
    <div class=""><app-footer class="example-container h-96"></app-footer></div>
</div>