<div class="first-selection">
<div class="title">
    How to safely exchange<br>mobility data
    <br> <span class="checkmark">
        <div class="checkmark_stem"></div>
        <div class="checkmark_kick"></div>
    </span> ethical <span class="checkmark">
        <div class="checkmark_stem"></div>
        <div class="checkmark_kick"></div>
    </span> GDPR
</div>
<div class="instruction">
    Select your working field / information interest:
</div>
<div class="tech">
    <div class="subtitle">Browse Use Case Overview</div>
    <div class="text">As a part of the city policy team, I want to know how data can help create better policies for multi-modal travel</div>
    <app-link-secondary routerLink="/store"></app-link-secondary>
</div>
<div class="policy">
    <div class="subtitle">Browse data standards</div>
    <div class="text">As a part of the data tech team, I want to know how to technically set up the data exchange</div>
    <app-link-secondary routerLink="/store"></app-link-secondary>
</div>

<div class="partners">
    <div class="partner title">Partners</div>
    <div class="partner_images">
        <img src="/assets/Adam.png">
        <img src="/assets/maas.png">
        <img src="/assets/IenW.png">
        <img src="/assets/DH.png">
        <img src="/assets/Utrecht.png">
        <img src="/assets/rdam.png">
        <img src="/assets/eindhove.png">
    </div>
</div>
</div>