<div>
  <div class="flex flex-col md:flex-row divide-y-2 md:divide-y-0 bg-yellow-200 md:divide-x-2 divide-blue-500/10mb-20">
    <div class="md:flex-1 mx-6 md:mx-0 md:px-10 py-6 md:py-0 md:my-6 flex justify-between items-start">
      <div class="max-w-md mr-4">
        <div class="text-2xl font-bold">Browse Use Case Overview</div>
        <span class="font-medium">
          I want to know how to technically set up the data exchange
        </span>
      </div>
      <button
        class="inline-flex items-center justify-center self-end p-1 text-black border-4 border-black cursor-pointer"
        routerLink="/store">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_925_21566" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"
            style="mask-type: alpha;">
            <rect width="24" height="24" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)" fill="currentColor">
            </rect>
          </mask>
          <g mask="url(#mask0_925_21566)">
            <path
              d="M12.683 7L11.6247 8.1767L14.6266 10.7221L5 10.7221L5 12.2828L14.6215 12.2828L11.6196 14.8282L12.6881 16L18 11.5L12.683 7Z"
              fill="currentColor"></path>
          </g>
        </svg>
      </button>
    </div>
    <div class="md:flex-1 mx-6 md:mx-0 md:px-10 py-6 md:py-0 md:my-6 flex justify-between items-start">
      <div class="max-w-md mr-4">
        <div class="text-2xl font-bold">Browse data standards</div>
        <span class="font-medium">
          I want to know how data can help create better policies for multi-modal
          travel
        </span>
      </div>
      <button
        class="inline-flex items-center justify-center self-end p-1 text-black border-4 border-black cursor-pointer"
        routerLink="/standards">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_925_21566" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"
            style="mask-type: alpha;">
            <rect width="24" height="24" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)" fill="currentColor">
            </rect>
          </mask>
          <g mask="url(#mask0_925_21566)">
            <path
              d="M12.683 7L11.6247 8.1767L14.6266 10.7221L5 10.7221L5 12.2828L14.6215 12.2828L11.6196 14.8282L12.6881 16L18 11.5L12.683 7Z"
              fill="currentColor"></path>
          </g>
        </svg>
      </button>
    </div>
  </div>

  <div class="pb-40 pt-20">
    <div class="justify-center">Partners using CDS-M</div>
    <div class="partner_images flex flex-row">
      <img src="/assets/Adam.png">
      <img src="/assets/maas.png">
      <img src="/assets/IenW.png">
      <img src="/assets/DH.png">
      <img src="/assets/Utrecht.png">
      <img src="/assets/rdam.png">
      <img src="/assets/eindhove.png">
    </div>
  </div>
</div>