<div class="first-selection">
<div class="title">
    How to safely exchange<br>mobility data
    <br> V ethical V GDPR
</div>
<div class="instruction">
    Select your working field / information interest:
</div>
<div class="tech">
    <div class="image">

    </div>
    <div class="subtitle">I am part of the data tech team</div>
    <div class="text">I want to know how to technically set up the data exchange</div>
    <div class="button" routerLink="store">Browse data standards</div>
</div>
<div class="policy">
    <div class="image">

    </div>
    <div class="subtitle">I am part of the city policy team</div>
    <div class="text">I want to know how data can help create better policies for multi-modal travel</div>
    <div class="button" routerLink="store">Discover use case store</div>
</div>

<div class="partners">
    <div class="partner title">Partners</div>
    <div class="partner_images">
        <img src="/assets/Adam.png">
        <img src="/assets/maas.png">
        <img src="/assets/IenW.png">
        <img src="/assets/DH.png">
        <img src="/assets/Utrecht.png">
        <img src="/assets/rdam.png">
        <img src="/assets/eindhove.png">
    </div>
</div>
</div>