.first-selection {
    background-color: #F5F5F5;
    text-align: center;
    padding-bottom: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    margin-top: 20px;
}

.title {
    padding-top: 30px;
    font-size: 36pt;
    font-weight: bold;
}

.instruction {
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

.tech {
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    left: calc(50% - 350px);
}

.policy {
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    left: calc(50% + 10px);
}

.partners {
    margin-top: 450px;
    font-size: 20pt;
}

.partner_images {
    height: 80px;
    width: 80%;
    margin-left: 10%;
}

.subtitle {
    font-weight: bold;
    position: relative;
    top: 20px;
}

.text {
    position: relative;
    top: 50px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.button {
    color: #F5F5F5;
    background-color: #15969F;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    position: relative;
    top: 80px;
    padding-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
}

.partner_images img {
    margin: 5px;
    vertical-align: middle;
}

.image {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin-top: 80px;
    margin-left: 135px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(54, 53, 53);
}

.checkmark {
    display:inline-block;
    width: 66px;
    height:66px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-right: -20px;
    margin-top: -22px;
}

.checkmark_stem {
    position: absolute;
    width:9px;
    height:27px;
    background-color: green;
    left:44px;
    top:25px;
}

.checkmark_kick {
    position: absolute;
    width:9px;
    height:9px;
    background-color:green;
    left:36px;
    top:43px ;
}