<div class="top-0 left-0 w-full min-h-[480px] md:min-h-[672px] flex bg-cover bg-no-repeat bg-center"
style='background-image: url("https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2340&amp;q=80");'>
<div class="flex-1 flex justify-center py-16 md:py-20 bg-black bg-opacity-50">
  <div class="max-w-6xl mx-4 w-full relative flex flex-col items-center justify-center p-2">
    <span class="example-inline-block text-white uppercase text-5xl font-bold">Creating better urban environments
      with save data exchange</span>

    <span class="example-inline-block text-white">Through multi-modal travel and shared mobility. And showing you
      how to exchange data ethically and in line with GDPR.</span>
  </div>
</div>
</div>
