@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
    background-color: lightgray;
}

/*a {
    color: #15969F;
}*/

html,
body {
    height: 100%;
}

.heading-1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-medium;
}

.heading-2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-medium;
}

.heading-3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-medium;
}

.heading-4 {
    @apply text-xl md:text-2xl lg:text-3xl;
}

.checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1137_25883)'%3E%3Cpath d='M9.00016 16.17L4.83016 12L3.41016 13.41L9.00016 19L21.0002 6.99997L19.5902 5.58997L9.00016 16.17Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1137_25883'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}