@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
    background-color: lightgray;
}

/*a {
    color: #15969F;
}*/

html, body { height: 100%; }

