.container {
    background-color: #F5F5F5;
    float: left;
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.text {
    padding-left: 60px;
    float: left;
    margin-right: 30px;
}
.usecases {
    float: left;
}

.header {
    font-size: 36pt;
    font-weight: bold;
}
.use-case-button {
    background-color: #15969F;
    color: #F5F5F5;
    text-align: center;
    vertical-align: baseline;
    padding-top: 5px;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 30px;
    cursor: pointer;
}

.use-case-link {
    background-color: black;
    color: #F5F5F5;
    font-size: 22pt;
    vertical-align: middle;
    align-content: center;
    padding-left: 10px;
    width: 28px;
    height: 40px;
    float: left;
    margin-top: 180px;
    margin-left: 20px;
    cursor: pointer;
}

.usecases {
    float: left;
}