<footer class="flex justify-center bg-blue-500 text-white">
    <div class="max-w-6xl mx-4 w-full py-20 text-white">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 lg:gap-4">
        <div>
          <h6 class="mb-4 text-lg font-bold text-yellow-200">
            Starting with the CDS-M Standard
          </h6>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="/tech">
            I am operator of the data tech team
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page">
            I am part of the city policy team
          </a>
        </div>
        <div>
          <h6 class="mb-4 text-lg font-bold text-yellow-200">About CDS-M</h6>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="/intro">
            The story of CDS-M
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="/assets/build-usecase/index.html">
            How to build a use case
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="/assets/grading-system/index.html">
            How to score a use case
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="https://github.com/CDSM-WG/CDS-M/wiki">
            Data standards explained
          </a>
        </div>
        <div>
          <h6 class="mb-4 text-lg font-bold text-yellow-200">Themes</h6>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
            Transparency
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
            Sustainability
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
            Dynamic policy
          </a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">Safety</a>
          <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
            Liveability
          </a>
        </div>
      </div>
      <div
        class="flex flex-col lg:flex-row lg:justify-between lg:items-center my-8 gap-5"
      >
        <div class="flex flex-col md:flex-row gap-5 md:items-center">
          <div class="flex gap-2">
            <div class="bg-yellow-200 w-8 h-8"></div>
            <div class="bg-yellow-200 w-8 h-8"></div>
            <div class="bg-yellow-200 w-8 h-8"></div>
            <div class="bg-yellow-200 w-8 h-8"></div>
          </div>
          <span>© 2022 CDS-M</span>
          <a href="#" class="hover:cursor-pointer">Terms &amp; Conditions</a>
          <a href="#" class="hover:cursor-pointer">Privacy Policy</a>
        </div>
        <div class="bg-yellow-200 w-40 h-12"></div>
      </div>
    </div>
  </footer>