<footer class="flex justify-center bg-blue-500 text-white">
  <div class="max-w-6xl mx-4 w-full py-20 text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 lg:gap-4">
      <div>
        <h6 class="mb-4 text-lg font-bold text-yellow-200">
          Starting with the CDS-M Standard
        </h6>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="/standards">
          I am operator of the data tech team
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store" routerLinkActive="active"
          ariaCurrentWhenActive="page">
          I am part of the city policy team
        </a>
      </div>
      <div>
        <h6 class="mb-4 text-lg font-bold text-yellow-200">About CDS-M</h6>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="https://cds-m.com/">
          The story of CDS-M
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="assets/build-usecase/index.html">
          How to build a use case
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" href="assets/grading-system/index.html">
          How to score a use case
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" target="_new" href="https://github.com/CDSM-WG/CDS-M/wiki">
          Data standards explained
        </a>
        <a href="/how-are-they-build/" target="_blank" class="block mb-4 last:mb-0 hover:cursor-pointer">
          Build your own use case
        </a>
      </div>
      <div>
        <h6 class="mb-4 text-lg font-bold text-yellow-200">Themes</h6>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
          Research
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
          Sustainability
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
          Dynamic policy
        </a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">Safety</a>
        <a class="block mb-4 last:mb-0 hover:cursor-pointer" routerLink="/store">
          Liveability
        </a>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center my-8 gap-5">
      <div class="flex flex-col md:flex-row gap-5 md:items-center">
        <div class="text-3xl text-white uppercase font-bold font-serif">
          CDS-M
        </div>
        <span>© 2022 CDS-M</span>
      </div>
    </div>
  </div>
</footer>