<div class="fullscreen">
    <div class="image"></div>

    <div class="content">
        <div [classList]="getClasses()" (click)="addToCart()" [innerText]="getContent()"></div>
        <div class="theme">{{data.theme}}</div>    

        <div class="name">{{data.id|replaceUnderscore|titlecase}}</div> 

        <div class="userstory">
            As a {{data.story.asA}} I would like to {{data.story.iWouldLikeTo | lowercase}} in order to {{data.story.inOrderTo | lowercase}}
        </div>
    </div>

    <div class="metrics">Metrics</div>
    <ul>
        <app-black-ticket *ngFor="let metric of data.metrics" [data]="metric"></app-black-ticket>
    </ul>

    <div class="metrics">Known standards</div>
    <ul>
        <app-black-ticket *ngFor="let s of data.standards" [data]="getStandard(s.name)"></app-black-ticket>
    </ul>
</div>    