<div class="flex-1 bg-gray-100">
    <div class="max-w-6xl mx-auto px-4 w-full pt-9 sm:pt-14 pb-6 sm:pb-20">
        <button class="inline-flex items-center gap-1 font-semibold cursor-pointer" routerLink="/">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_921_31157" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"
                    style="mask-type: alpha;">
                    <rect width="24" height="24" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)"
                        fill="currentColor"></rect>
                </mask>
                <g mask="url(#mask0_921_31157)">
                    <path
                        d="M10.317 16L11.3753 14.8233L8.37339 12.2779L18 12.2779L18 10.7172L8.37847 10.7172L11.3804 8.17177L10.3119 7L5 11.5L10.317 16Z"
                        fill="currentColor"></path>
                </g>
            </svg>
            <span class="leading-4">Home</span>
        </button>
        <h1 class="heading-2 mt-14 text-blue-600">Data standard library</h1>
        <div class="flex flex-row gap-12 mb-8 justify-between">
            <input type="text" (keyup)="onFilter($event)" placeholder="Parking, availability, MDS, GBFS, TOMP, ... "
                class="py-3 pl-4 pr-12 w-full max-w-lg text-black placeholder:text-gray-300 bg-white bg-no-repeat rounded-none"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_692_22207)'%3E%3Cpath d='M8.5 14H9.29L9.57 13.73C8.59 12.59 8 11.11 8 9.5C8 5.91 10.91 3 14.5 3C18.09 3 21 5.91 21 9.5C21 13.09 18.09 16 14.5 16C12.89 16 11.41 15.41 10.27 14.43L10 14.71V15.5L5 20.49L3.51 19L8.5 14V14ZM14.5 14C16.99 14 19 11.99 19 9.5C19 7.01 16.99 5 14.5 5C12.01 5 10 7.01 10 9.5C10 11.99 12.01 14 14.5 14Z' fill='%234B5563'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_692_22207'%3E%3Crect width='24' height='24' fill='white' transform='matrix(-1 0 0 1 24 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A&quot;); background-position: right 16px center;" />
        </div>

        <div class="flex flex-col md:flex-row mt-6 gap-4">
            <div class="flex-auto md:w-4/6">
                <app-standard-ticket *ngFor="let standard of obs | async" [data]="standard">
                </app-standard-ticket>
            </div>
            <div class="flex-auto md:w-2/6">
                <app-filled-primary title="Upload your own .json receipe" onclick="document.getElementById('file').click()"></app-filled-primary>
                <input type="file" class="invisible" id="file" accept=".json" (change)="uploadFile($event)">
    
                <div class="text-xl text-blue-500">Selected standards</div>
                <div class="ml-2">
                    <div *ngFor="let standard of obsSelected | async">{{standard.name}}</div>
                </div>
                <app-filled-primary routerLink="/preparation" title="Confirm selection"></app-filled-primary>
            </div>
        </div>
    </div>
</div>