<div class="flex-1 bg-gray-100">
    <div class="max-w-6xl mx-auto px-4 w-full pt-20 sm:pt-20 pb-6 sm:pb-20">
        <button class="inline-flex items-center gap-1 font-semibold cursor-pointer" routerLink="/">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_921_31157" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"
                    style="mask-type: alpha;">
                    <rect width="24" height="24" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)"
                        fill="currentColor"></rect>
                </mask>
                <g mask="url(#mask0_921_31157)">
                    <path
                        d="M10.317 16L11.3753 14.8233L8.37339 12.2779L18 12.2779L18 10.7172L8.37847 10.7172L11.3804 8.17177L10.3119 7L5 11.5L10.317 16Z"
                        fill="currentColor"></path>
                </g>
            </svg>
            <span class="leading-4">Home</span>
        </button>
        <h1 class="heading-2 mt-14 text-blue-600">Data standard library</h1>
        <div class="flex flex-row gap-12 mb-8 justify-between">
            <input type="text" (keyup)="onFilter($event)" placeholder="Parking, availability, MDS, GBFS, TOMP, ... "
                class="py-3 pl-4 pr-12 w-full max-w-lg text-black placeholder:text-gray-300 bg-white bg-no-repeat rounded-none"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_692_22207)'%3E%3Cpath d='M8.5 14H9.29L9.57 13.73C8.59 12.59 8 11.11 8 9.5C8 5.91 10.91 3 14.5 3C18.09 3 21 5.91 21 9.5C21 13.09 18.09 16 14.5 16C12.89 16 11.41 15.41 10.27 14.43L10 14.71V15.5L5 20.49L3.51 19L8.5 14V14ZM14.5 14C16.99 14 19 11.99 19 9.5C19 7.01 16.99 5 14.5 5C12.01 5 10 7.01 10 9.5C10 11.99 12.01 14 14.5 14Z' fill='%234B5563'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_692_22207'%3E%3Crect width='24' height='24' fill='white' transform='matrix(-1 0 0 1 24 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A&quot;); background-position: right 16px center;" />
        </div>

        <div class="flex flex-col md:flex-row mt-6 gap-6" data-component="SplitContainer">
            <div class="flex-auto md:w-4/6" data-component="SplitContainerLeft">
                <div class="flex flex-col gap-2">
                    <app-standard-ticket *ngFor="let standard of obs | async" [data]="standard">
                    </app-standard-ticket>
                </div>
            </div>

            <div class="flex-auto md:w-2/6" data-component="SplitContainerRight">
                <div class="flex flex-col gap-2">
                    <div class="bg-white overflow-hidden -mx-6 md:mx-auto -mb-6 md:mb-auto p-6 font-medium w-full"
                        data-component="Card">
                        <h2 class="mb-4 uppercase text-3xl text-blue-600">
                            Selected standards
                        </h2>
                        <div class="flex flex-col gap-2 mt-4">
                            <div *ngFor="let standard of obsSelected | async">{{standard.name}}</div>
                        </div>
                        <div class="mt-3 pt-4 border-t border-gray-300">
                            <button routerLink="/preparation"
                                class="inline-flex items-center justify-center px-5 py-3 text-white bg-blue-600 hover:bg-blue-400 focus:bg-blue-400 focus:ring-blue-400 active:bg-blue-600 disabled:bg-gray-300 disabled:text-gray-500 border-4 border-blue-600 hover:border-blue-400 focus:border-blue-400 active:border-blue-600 disabled:border-gray-300 leading-none font-medium focus:ring-4 focus:ring-offset-4 cursor-pointer focus:outline-none disabled:cursor-not-allowed w-full"
                                data-component="Button">
                                Confirm selection
                            </button>
                        </div>
                    </div>

                    <div class="bg-white overflow-hidden hidden md:block p-2" data-component="Card" *ngIf="!hovered">
                        <div id="dropTarget"
                            class="flex flex-col items-center justify-center gap-4 pt-8 lg:pt-9 pb-6 lg:pb-4 px-8 lg:px-10 border-2 border-dashed border-blue-600 cursor-pointer"
                            data-component="UploadContainer" (mouseenter)="onDragOver($event)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" data-component="UploadIcon"
                                class="h-12 w-12 text-gray-500">
                                <g clip-path="url(#clip0_621_968)">
                                    <path d="M9 16H15V10H19L12 3L5 10H9V16ZM5 18H19V20H5V18Z" fill="currentColor">
                                    </path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_621_968">
                                        <rect width="24" height="24" fill="currentColor"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="text-2xl font-medium text-center" appDnd (fileDropped)="ondrop($event)">
                                Or drag and drop your own .json receipt
                            </div>
                            <button onclick="document.getElementById('file').click()"
                                class="inline-flex items-center justify-center px-5 py-3 bg-transparent text-blue-600 hover:text-blue-400 focus:text-blue-400 focus:ring-blue-400 active:text-blue-600 disabled:text-gray-500 border-4 border-blue-600 hover:border-blue-400 active:border-blue-600 disabled:border-gray-300 leading-none font-medium focus:ring-4 focus:ring-offset-4 cursor-pointer focus:outline-none disabled:cursor-not-allowed"
                                data-component="Button">
                                Upload .json file
                            </button>
                            <input type="file" class="invisible" id="file" accept=".json" (change)="uploadFile($event)">
                        </div>
                    </div>
                    <div class="bg-white overflow-hidden p-2 bg-blue-600" data-component="UploadContainer"
                        (mouseleave)="onDragLeave($event)" *ngIf="hovered">
                        <div
                            class="flex items-center justify-center py-8 lg:py-9 px-8 lg:px-auto text-2xl text-center text-white border-2 border-dashed border-white bg-blue-600 cursor-pointer  h-[305px]">
                            Drop your files here
                        </div>
                    </div>

                    <div class="bg-white overflow-hidden p-8 pb-9 -mb-6 md:mb-0 -mx-6 md:mx-0"
                        data-component="GradeLegenda">
                        <div class="mb-4 text-3xl uppercase text-blue-600">
                            Legenda
                        </div>
                        <div
                            class="w-full flex border-t pt-3 justify-between items-center gap-2.5 text-left font-semibold md:mb-2">
                            <div class="inline-flex py-1 px-2 font-semibold text-black text-xs bg-green-200"
                                data-component="Label">
                                Doesn't use personal data
                            </div>
                        </div>
                        <div class="w-full flex justify-between items-center gap-2.5 text-left font-semibold md:mb-2">
                            <div class="inline-flex py-1 px-2 font-semibold text-black text-xs bg-red-200"
                                data-component="Label">
                                Uses personal data
                            </div>
                        </div>
                        <div class="w-full flex justify-between items-center gap-2.5 text-left font-semibold">
                            <div class="inline-flex py-1 px-2 font-semibold text-black text-xs bg-gray-300"
                                data-component="Label">
                                Possibly uses personal data
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="undoShown">
                <div class="bg-white overflow-hidden flex items-center justify-between gap-2 max-w-xl w-full p-4 bg-yellow-700"
                    data-component="Toast">
                    <div class="flex items-start">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            data-component="CheckmarkIcon" class="shrink-0 text-blue-500">
                            <g clip-path="url(#clip0_1184_27224)">
                                <path
                                    d="M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z"
                                    fill="currentColor"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_1184_27224">
                                    <rect width="24" height="24" fill="currentColor"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                        <div class="ml-2 pt-1 font-semibold leading-4">
                            Data standard has been removed
                        </div>
                    </div>
                    <div class="flex items-center gap-6 shrink-0">
                        <button class="flex items-center text-blue-500 font-semibold">
                            <span>Undo</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" data-component="UndoIcon" class="ml-1">
                                <g clip-path="url(#clip0_1286_105733)">
                                    <path
                                        d="M12.5 8C9.85 8 7.45 8.99 5.6 10.6L2 7L2 16L11 16L7.38 12.38C8.77 11.22 10.54 10.5 12.5 10.5C16.04 10.5 19.05 12.81 20.1 16L22.47 15.22C21.08 11.03 17.15 8 12.5 8Z"
                                        fill="#0032FF"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_1286_105733">
                                        <rect width="24" height="24" fill="currentColor"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                        <button>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" data-component="TimesIcon">
                                <g clip-path="url(#clip0_921_38688)">
                                    <path
                                        d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                                        fill="currentColor"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_921_38688">
                                        <rect width="24" height="24" fill="currentColor"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>