<a
  class="inline-flex items-center justify-center px-5 py-3 text-black bg-yellow-200 hover:bg-yellow-100 focus:bg-yellow-100 focus:ring-yellow-100 active:bg-blue-200 active:text-blue-500 disabled:bg-gray-200 disabled:text-gray-600 border-4 border-yellow-200 hover:border-yellow-100 focus:border-blue-100 active:border-blue-200 active:text-blue-500 disabled:border-gray-200 leading-none font-medium focus:ring-4 focus:ring-offset-4 cursor-pointer focus:outline-none disabled:cursor-not-allowed"
  href="#"
>
  <span class="hidden lg:block"></span>
  <span class="ml-2.5">
    <svg
      width="13"
      height="10"
      viewBox="0 0 13 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7.68298 0.500002L6.62466 1.6767L9.62661 4.2221L-8.13491e-07 4.2221L-1.1546e-06 5.78282L9.62153 5.78282L6.61957 8.32823L7.68806 9.5L13 5L7.68298 0.500002Z"
        fill="currentColor"
      ></path>
    </svg>
  </span>
</a>