<span class="absolute bottom-0 right-0 translate-y-full" *ngIf="grade=='A'">
    <div class="relative inline-flex items-end justify-center h-16 w-7 pb-3 font-semibold text-white bg-green-700"
        data-component="Bookmark">
        <div
            class="absolute bottom-0 border-x-transparent border-x-[24px] border-b-[12px] border-b-white">
        </div>
        A
    </div>
</span>
<span class="absolute bottom-0 right-0 translate-y-full" *ngIf="grade=='B'">
    <div class="relative inline-flex items-end justify-center h-16 w-7 pb-3 font-semibold text-white bg-green-500"
        data-component="Bookmark">
        <div
            class="absolute bottom-0 border-x-transparent border-x-[24px] border-b-[12px] border-b-white">
        </div>
        B
    </div>
</span>
<span class="absolute bottom-0 right-0 translate-y-full" *ngIf="grade=='C'">
    <div class="relative inline-flex items-end justify-center h-16 w-7 pb-3 font-semibold text-white bg-amber-400"
        data-component="Bookmark">
        <div
            class="absolute bottom-0 border-x-transparent border-x-[24px] border-b-[12px] border-b-white">
        </div>
        C
    </div>
</span>
<span class="absolute bottom-0 right-0 translate-y-full" *ngIf="grade=='D'">
    <div class="relative inline-flex items-end justify-center h-16 w-7 pb-3 font-semibold text-white bg-amber-500"
        data-component="Bookmark">
        <div
            class="absolute bottom-0 border-x-transparent border-x-[24px] border-b-[12px] border-b-white">
        </div>
        D
    </div>
</span>
<span class="absolute bottom-0 right-0 translate-y-full" *ngIf="grade=='E'">
    <div class="relative inline-flex items-end justify-center h-16 w-7 pb-3 font-semibold text-white bg-red-500"
        data-component="Bookmark">
        <div
            class="absolute bottom-0 border-x-transparent border-x-[24px] border-b-[12px] border-b-white">
        </div>
        E
    </div>
</span>
<span class="absolute bottom-0 right-0 translate-y-full" *ngIf="grade=='?'">
    <div class="relative inline-flex items-end justify-center h-16 w-7 pb-3 font-semibold text-white bg-neutral-300"
        data-component="Bookmark">
        <div
            class="absolute bottom-0 border-x-transparent border-x-[24px] border-b-[12px] border-b-white">
        </div>
        {{grade}}
    </div>
</span>