::ng-deep .mat-paginator-page-size {
    display: none !important;
}

::ng-deep .mat-paginator-range-label {
    display: none !important;
}

::ng-deep .mat-paginator-container {
    justify-content: center !important; 
}

::ng-deep .mat-paginator-page-size {
    display: none !important;
}