<button
  class="inline-flex items-center justify-center px-5 py-3 text-white bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 focus:ring-blue-400 active:bg-blue-900 disabled:bg-gray-200 disabled:text-gray-600 border-4 border-blue-500 hover:border-blue-400 focus:border-blue-400 active:border-blue-900 disabled:border-gray-200 leading-none font-medium focus:ring-4 focus:ring-offset-4 cursor-pointer focus:outline-none disabled:cursor-not-allowed"
>
  <span class="hidden lg:block">{{title}}</span>
  <span class="ml-2.5">
    <svg
      width="13"
      height="10"
      viewBox="0 0 13 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7.68298 0.500002L6.62466 1.6767L9.62661 4.2221L-8.13491e-07 4.2221L-1.1546e-06 5.78282L9.62153 5.78282L6.61957 8.32823L7.68806 9.5L13 5L7.68298 0.500002Z"
        fill="currentColor"
      ></path>
    </svg>
  </span>
</button>