<div class="bg-white overflow-hidden p-4 md:p-6">
    <div class="flex items-start justify-between gap-11 lg:gap-4">
        <div class="flex flex-col lg:flex-row items-start lg:justify-between gap-2 lg:gap-6 w-full">
            <div class="flex flex-col">
                <div class="flex flex-row">
                    <div *ngIf="data.step>3"
                        class="flex absolute top-0 left-0 md:static items-center justify-center h-8 w-8 mr-6 shrink-0 text-white bg-blue-600 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            data-component="CheckmarkIcon">
                            <g clip-path="url(#clip0_1184_27224)">
                                <path
                                    d="M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z"
                                    fill="currentColor"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_1184_27224">
                                    <rect width="24" height="24" fill="currentColor"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <h3 class="flex heading-4 font-medium" *ngIf="data.displayName != null">
                        {{data.displayName|titlecase}}
                    </h3>
                    <h3 class="flex heading-4 font-medium" *ngIf="data.displayName == null">
                        {{data.name|replaceUnderscore}}
                    </h3>
                </div>
                <div class="flex items-center gap-1.5 mt-2">
                    <span>Personal data:</span>
                    <div *ngIf="data.privacy=='A'"
                        class="inline-flex py-1 px-2 font-semibold text-xs bg-green-700 text-white">
                        No
                    </div>
                    <div *ngIf="data.privacy=='*'"
                        class="inline-flex py-1 px-2 font-semibold text-xs bg-gray-100 text-black">
                        Possibly
                    </div>
                    <div *ngIf="data.privacy != 'A' && data.privacy != '*'"
                        class="inline-flex py-1 px-2 font-semibold text-xs bg-red-500 text-white">
                        Yes
                    </div>
                </div>
            </div>
        </div>
        <div class="shrink-0 flex flex-col lg:flex-row-reverse gap-3 lg:gap-4">
            <button class="h-8 w-8 text-gray-500 hover:text-gray-500/80" *ngIf="expanded" (click)="toggle()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="h-8 w-8">
                    <g clip-path="url(#clip0_1183_21142)">
                        <path d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z" fill="currentColor">
                        </path>
                    </g>
                    <defs>
                        <clipPath id="clip0_1183_21142">
                            <rect width="24" height="24" fill="currentColor"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <button class="h-8 w-8 text-gray-500 hover:text-gray-500/80" *ngIf="!expanded" (click)="toggle()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    data-component="ChevronDownIcon">
                    <g clip-path="url(#clip0_1183_21170)">
                        <path d="M7.41 7.83997L12 12.42L16.59 7.83997L18 9.24997L12 15.25L6 9.24997L7.41 7.83997Z"
                            fill="currentColor"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_1183_21170">
                            <rect width="24" height="24" fill="currentColor"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <button class="text-gray-500 hover:text-gray-500/80" (click)="remove()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="h-8 w-8">
                    <g clip-path="url(#clip0_1184_22248)">
                        <path
                            d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM19 4H15.5L14.5 3H9.5L8.5 4H5V6H19V4Z"
                            fill="currentColor"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_1184_22248">
                            <rect width="24" height="24" fill="currentColor"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="mt-2 max-w-xl">
        <p *ngIf="expanded" class="text-gray-500" [innerHTML]="data.description">
        </p>
    </div>
    <div class="mt-6 lg:mt-10 pt-2 lg:pt-5 border-t border-gray-300">
        <div class="flex flex-col lg:flex-row lg:items-center justify-between gap-4">
            <app-config-standard [data]="data"></app-config-standard>
        </div>
    </div>
</div>