<div class="bg-white overflow-hidden relative inline-flex flex-col justify-end min-h-[340px] w-full md:w-auto ">
    <div *ngIf="data.ready==true">OK!</div>
    <div *ngIf="data.displayName!=null" class="font-bold text-lg text-gray-500">{{data.displayName}}</div>
    <div>Trashcan</div>
    <div class="">
        <div class="font-bold">Uses personal data:</div>
        <div *ngIf="data.privacy=='A'" class="font-bold">No</div>
        <div *ngIf="data.privacy=='*'" class="font-bold">Possibly</div>
        <div *ngIf="data.privacy!='A'" class="font-bold">Yes</div>

        <div>
            <div *ngIf="data.displayName==null" class="font-bold text-lg text-gray-500">{{data.name}}</div><div *ngIf="data.description!=null" class="text-sm mt-4">{{data.description}}</div>
        </div>
        <app-config-standard [data]="this.data">
            
        </app-config-standard>
    </div>
</div>
