<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Hexagonal Grid by Codin @ Codesmite.com</title>
<meta name="description" content="Hexagonal Grid by Codin @ Codesmite.com">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
    <ul id="grid" class="clear" >
        <li *ngFor="let useCase of useCases">
            <use-case-tile [data]="useCase.data" [selectable]="useCase.selectable"></use-case-tile>
        </li>
    </ul>
</body>
</html>
