.container {
    background-color: lightgray;
    height: 100%;
}

.useCases {
    float: left;
    margin-left: 30px;
}

.header {
    font-weight: bold;
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
    display:inline-block;
}

.header2 {
    font-weight: bold;
    font-size: 18pt;
}

.counter, .right {
    display:inline;
    padding-left: 20px;
    padding-top: 24px;
}

.totalBill {
    position: fixed;
    width: 300px;
    top: 100px;
    right: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

table {
    width: 100%;
}