  <div class="content" role="main">
    <app-first-selection></app-first-selection>
    <app-learn-more></app-learn-more>
    <app-most-popular></app-most-popular>
  </div>
  
  <div class="footer">
      <div class="getting-started">
        <p class="header">Getting started</p>
        <a href="/tech">I am an operator of the data tech team</a><br>
        <a routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page">I am part of the city policy team</a><br>
      </div>
      <div class="about">
        <p class="header">About CDS-M</p>
        <a href="/intro">The story of CDS-M</a><br>
        <a href="/assets/build-usecase/index.html">How to build a use case</a><br>
        <a href="/assets/grading-system/index.html">How to score a use case</a><br>
        <a href="https://github.com/CDSM-WG/CDS-M/wiki">Data standards explained</a>
      </div>
      <div class="themes">
        <p class="header">Themes</p>
        <a routerLink="/store">Transparency</a><br>
        <a routerLink="/store">Sustainability</a><br>
        <a routerLink="/store">Dynamic policy</a>
      </div>
      <div class="themes">
        <p class="header">&nbsp;</p>
        <a routerLink="/store">Safety</a><br>
        <a routerLink="/store">Liveability</a><br>
      </div>
  </div>