<div data-popover id="popover-default" role="tooltip"
    class="inline-block absolute invisible z-10 w-64 text-sm text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <div class="" data-component="Popover">
        <div class="relative max-w-[70vw] w-80 p-6 bg-yellow-700 border border-gray-300 after:absolute after:-bottom-[13px] after:w-6 after:h-6 after:bg-yellow-700 after:border-b after:border-r after:border-gray-300 after:rotate-45 after:inset-x-0 after:mx-auto text-black"
            [innerHTML]="data">
        </div>
    </div>
</div>