.mat-expansion-panel-header, .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    color: white;
    background: rgb(174,223,209);
    background: linear-gradient(180deg, rgba(174,223,209,1) 0%, rgba(5,82,102,1) 100%);
    height: 40px;
    margin-top: 5px;
}

.mat-expansion-panel {
    background: rgb(174,223,209) !important; 
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 5px !important;
}